.social-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
}

.social-img{
    height: 50px;
}

@media only screen and (max-width:720px){
    .social-img{
        height: 35px;
    }
}